/* =========Common styles */
ul,
li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
/* ========= /Common styles */

/* ========= Page header */
.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo-other-color {
  color: #4d5ae5;
}
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.page-address {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* ========= /Page header */

/* ========= Hero section */
.first-section {
  background-color: #2e2f42;
}
.main-headline {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}
.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

.second-section-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.second-section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.third-section {
  background-color: #f4f4fd;
}
.third-section-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.third-section-list {
  background-color: #ffffff;
}
.people-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.people-job {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.fourth-section-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-sections {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ========= /Hero section */
/* ========= /Footer section */
.page-footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-logo-other-color {
  color: #4d5ae5;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* ========= /Footer section */
